input {
    display: block;
    height: 50px;
    width:80%;
    border-radius: 5px;
    padding: 0, 10px;
    margin-top: 7px;
    margin-left: 4px;
    font-size: 14px;
     
}
h1 {
    text-align: centre;
    color: #2639a6;
    font-size: 32px;
    font-family: sans-serif;
    line-height: 40px;
}
button{
    background-color:#3498db;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight:700;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 30px;
    text-align: center;
    padding-bottom: 15px;

}
form {
    background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    width:400px;
    position: absolute(-50%, -50%);
    top:40px;
    left: -20px;
    box-shadow:0, 0, 40px, rgba(255, 255,255,0.15);
    border-color: darkgray;
    border-style: solid;
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 5px;
    text-size-adjust: 32px;
    text-emphasis-color: gray;
    font-size: larger;
 }
 
 
